<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--    <title>Wybór koloru</title>-->
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>

    <table>
        <tr th:each="colorsRow: ${colors}">
            <td width="100" height="100"
                th:each="color: ${colorsRow}"
                th:attr="bgcolor=${color}"
                th:onclick="'location.href = \''  +  @{/select/{c}(c=${color})} + '\''">
            </td>

        </tr>
    </table>


</body>
</html>